:root {
  --line-height: 1.32rem;
  --max-lines: 10;
  --subtle-color: #ddd;
  --spacing-sm: 10px;
  --spacing-md: 20px;
}

/* Reset */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: var(--spacing-md) 0;
  gap: var(--spacing-md);
}

section {
  max-width: 95%;
}

h1 {
  margin-bottom: var(--spacing-md);
}

h2 {
  padding-bottom: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  border-bottom: 1px solid var(--subtle-color);
}

h3 {
  width: 100%;
  text-align: center;
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

h4 {
  margin-bottom: var(--spacing-sm);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  border: 1px solid var(--subtle-color);
  border-radius: 8px;
  width: 400px;
  height: fit-content;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.card-body {
  line-height: var(--line-height);
  max-height: calc(var(--max-lines) * var(--line-height));
  overflow-y: hidden;
}

.expand-toggle {
  appearance: none;
  align-self: center;
  cursor: pointer;
}

.expand-toggle::before {
  content: "Show More";
}

.expand-toggle:checked::before {
  content: "Show Less";
}

/* Remove height limit if toggle is checked */
.card-content:has(.expand-toggle:checked) .card-body {
  max-height: none;
}

/* Adjust toggle visibility whether expanded or not */
.expand-toggle:checked ~ .toggle-labels .show-more,
.expand-toggle:not(:checked) ~ .toggle-labels .show-less {
  display: none;
}

/* Handle showing toggle by checking if there is an 11th child, exclude <p> from check */
.card-content:not(:has(ul.card-body li:nth-child(11), p.card-body)) .expand-toggle {
  display: none;
}
