:root {
  --line-height: 1.32rem;
  --max-lines: 10;
  --subtle-color: #ddd;
  --spacing-sm: 10px;
  --spacing-md: 20px;
}

/* Reset */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0 var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
}

h1 {
  margin-bottom: var(--spacing-md);
}

h2 {
  width: 100%;
  text-align: center;
  margin-bottom: var(--spacing-sm);
  border-bottom: 1px solid var(--subtle-color);
  padding-bottom: var(--spacing-sm);
}

h3 {
  margin-bottom: var(--spacing-sm);
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md);
  border: 1px solid var(--subtle-color);
  border-radius: 8px;
  width: 400px;
  height: fit-content;
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card-content {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-sm);
}

.card-body {
  line-height: var(--line-height);
  max-height: calc(var(--max-lines) * var(--line-height));
  overflow-y: hidden;
}

.expand-toggle {
  display: none;
}

.toggle-labels {
  display: flex;
  justify-content: center;
  padding-top: var(--spacing-sm);
}

.toggle-labels label {
  cursor: pointer;
}

/* Remove height limit if toggle is checked */
.expand-toggle:checked ~ .card-body {
  max-height: none;
}

/* Adjust label visibility whether expanded or not */
.expand-toggle:checked ~ .toggle-labels .show-more,
.expand-toggle:not(:checked) ~ .toggle-labels .show-less {
  display: none;
}

/* Handle hiding labels by checking if there is an 11th child */
.card-content:not(:has(ul.card-body li:nth-child(11), p.card-body))
  .toggle-labels {
  display: none;
}
